.statusBox {
	position: absolute;
	bottom: 0;
	width: 18rem;
	background-color: #202226;
}

.userIcon {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	margin: 8px;
	border-radius: 50%;
	vertical-align: middle;
}

.userInfo {
	display: inline-block;
	margin: 8px;
	color: #d1d5db;
	text-align: left;
	vertical-align: middle;
}

.statusIndicator {
	position: absolute;
	bottom: 15px;
	left: 32px;
	width: 12px;
	height: 12px;
	border-width: 2px;
	border-color: #27292e;
	background-color: #10b981;
	border-radius: 50%;
}

.dropdown {
	background-color: #202226;

	&:focus {
		outline: none;
	}
}
