.dashBody {
	position: absolute;
	right: 0;
	width: calc(100vw - 18rem);
	height: 100vh;
	padding: 16px;
	background-color: #27292e;
}

.messageBox {
	position: absolute;
	right: 0;
	bottom: 4rem;
	display: flex;
	width: calc(100vw - 20rem);
	height: calc(100vh - 6rem);
	flex-direction: column-reverse;
	padding-right: 5px;
	margin: 1rem;
	overflow-y: scroll;
	scrollbar-color: #27292e;

	// firefox scrollbar:
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 12px;
	}

	&::-webkit-scrollbar-track {
		background: #27292e;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #202226;
		border-radius: 20px;
	}
}
