html,
body {
	@apply bg-primary text-white;
}

.text-box {
	@apply bg-secondary h-12 rounded-lg shadow-lg absolute;
	bottom: 1rem;
	width: calc(100vw - 20rem);
}
.text-input {
	@apply h-full p-2 pl-3 text-gray-300 bg-transparent focus:outline-none inline-block;
	width: calc(100% - 50px);
}

.sidebar-item:hover {
	@apply bg-primary shadow-lg;
}
