html,
body {
	@apply bg-primary text-white;
}

.sidebar {
	@apply h-screen w-72 bg-secondary absolute;
}

.dash-body {
	@apply h-screen absolute right-0 p-4;
	width: calc(100vw - 18rem);
}

.text-box {
	@apply bg-secondary h-12 rounded-lg shadow-lg absolute;
	bottom: 1rem;
	width: calc(100vw - 20rem);
}
.text-input {
	@apply h-full p-2 pl-3 text-gray-300 bg-transparent focus:outline-none inline-block;
	width: calc(100% - 50px);
}

.sidebar-item {
	@apply rounded block mx-auto mt-2 text-left focus:outline-none;
	width: 17rem;
}
.sidebar-item:hover {
	@apply bg-primary shadow-lg;
}
