.message {
	display: flex;
	height: max-content;
	padding: 10px;
	margin-top: 10px;
	background-color: #202226;
	border-radius: 7px;
}

.username {
	font-size: 20px;
	line-height: 28px;
}

.contentBox {
	padding-left: 12px;
}

.messageItem {
	padding-top: 4px;
	color: #d1d5db;
}
